*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}
:root{
    /*maintaining consistency in all elem*/
    --blk-color:#000000;
    --unq-color: #00fffb;
    --cnt-color:white;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}
body{
    /*background: url('https://static.vecteezy.com/system/resources/previews/002/382/844/non_2x/abstract-geometric-shape-colorful-gradient-background-free-vector.jpg');
    background-position: center center;
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-size: cover; */
    /* overflow-y: scroll; */
    background-color: #000000;
    height: 100vh;
    font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section{
    min-height: 100vh;
}

/*.section{
    height:100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}*/
.heading{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:max-height(80px);
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    padding:10px;
    letter-spacing: 2px;
    z-index: 111;
    
}
.logoname{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoname img{
    margin-right:15px;
}
.name{
font-size:30px;
font-weight: 500px;
color:var(--unq-color);
}
.navItems{
    list-style-type: none;

}
.navItems li{
    display: inline-block;
    margin:20px 10px;
}
.navItems li a{
    text-decoration: none;
    color:var(--cnt-color);
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom:5px;
    font-size: 20px;
}
.navItems  a:hover {
    /* border-bottom: 1px solid var(--act-color); */
   /* text-shadow: 0 0 25px var(--act-color);not working */
    color:var(--unq-color);
}
/* .navItems a:visited {
    background-color:black;
} */
.about-content{
    position: absolute;
    width:45%;
    top:40%;
    left:20%;
    letter-spacing: 1px;
color:var(--cnt-color);
font-weight: 400px;

}
.about-intro{
    margin-bottom:10px;
    font-weight: 500px;
    font-size: 60px;
    margin-bottom: 20px;
    
}
span{
    color:var(--unq-color);
    /*text-shadow: 0 15px var(--text-color) 0;*/
}
.about-para{
    font-weight: 400px;
    font-size: 30px;
    line-height: 2rem;
}
.about-images{
    position: absolute;
    height:80%;
    overflow: hidden;
    top:20%;
    left:60%;
    right:2%;
    bottom: 100px;
}
.girl{
    position: absolute;
    height: 100%;
    width:350px;
    transition: left 1ms;
    z-index: -5;
    transform: translateY(-30px);
    /* mask image */
}
.shape{
    position: absolute;
    z-index: 2;
    height:80%;
    bottom:30px;
}
.girl:hover{
    left:20px;
}
/* .images:hover .shape{
    transform: rotate(15deg);
} */
.about-content::after{
    position: absolute;
    content:'';
    width:250px;
    height: 250px;
    border-radius: 50%;
    margin-left:70%;
   margin-bottom:-5%;
    background: linear-gradient(45deg,rgb(125, 255, 251),rgb(28, 143, 154));
    z-index: -1;
}
.about-content::before{
    position: absolute;
    content:'';
    width:350px;
    height: 350px;
    border-radius: 50%;
   margin-left:-60%;
   margin-bottom:-15%;
    background: linear-gradient(5deg, rgb(28, 143, 154),rgb(125, 255, 251));
    z-index: -1;
}
/* .images::before{
    position: absolute;
    content:'';
    width:200px;
    height: 200px;
    border-radius: 50%;
    left:-40%;
    bottom:80px;
    background: linear-gradient(45deg, rgb(28, 143, 154),rgb(125, 255, 251));
    z-index: -1;
} */
.heading::after{
    position: absolute;
    content:'';
    width:200px;
    height: 200px;
    border-radius: 50%;
    margin-right:-2px;
    margin-left:86%;
    margin-top:-20px;
    background: linear-gradient(45deg, rgb(28, 143, 154),rgb(125, 255, 251));
    z-index:-1;
}
/*...............................PAGE 2......................*/
@media screen and (max-width:850px) {
    .heading::after{
        content: '';
        width: 0;
        height: 0;
        display: none;
        visibility: hidden;
    }
    
}
/*----------- 2nd page ----------------*/
.ed-grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ed-heading{
    text-align: center;
    color: #00fffb;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.ed-grid-box{
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    width:80%;
    height: 76vh;
    grid-column-gap:10px;
    position: relative;
}
#sdpage:target .ed-grid-box::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #00fffb;
    top: 0;
    left: 50%;
    z-index: 1;
    animation: moveline 6s linear forwards;
}

.date-left{
    text-align:right ;
    padding-right: 15px;
}
.date-right{
    text-align:left ;
    padding-left: 15px;
}
/* .middle-clm{
    background-color: #ffffff;
    animation: moveline 6s linear;
} */
@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.ed-cnt{
    
    background-color: #00fffb;
    padding: 20px;
    border-radius: 20px;
    height:180px;
    border:0.5px solid #00fffb;
    box-shadow: 2px 2px 6px rgb(0, 247, 255) ;
    /* animation: movedown 1s linear forwards; 
    opacity: 0; */
}
/* @keyframes movedown {
    0%{
        opacity: 1;
        margin-top: -30px;
    }
    100%{
        opacity: 1;
        margin-top: 0px;
    }
    
} */
.date-right,.date-left{
    padding-top: 25px;
    font-size: 24px;
    font-weight: 500;
    color: #00fffb;
}
.ed-subheading{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}
.ed-subcnt{
    font-size: 24px;
    font-weight: 500;
    line-height: 2rem;
    word-spacing: 2px;

}
#griditem2{
    position: relative;
}
.point-left{
    position: absolute;
    top:30px;
    background-color:#00fffb;
    width:13px;
    height: 13px;  
    border-radius: 50%;
    left:-16px; 
    box-shadow:0px 0px 1.5px rgb(0, 247, 255);
}
#griditem5{
    position: relative;
}
.point-right{
    position: absolute;
    top:30px;
    background-color:#00fffb;
    width:13px;
    height: 13px;  
    border-radius: 50%; 
    right: -18px;
    box-shadow:0px 0px 1.5px rgb(0, 247, 255);
}
#griditem8{
    position: relative;
}
.point-left{
    position: absolute;
    top:30px;
    background-color:#00fffb;
    width: 13px;
    height: 13px;  
    border-radius: 50%;
    left:-16px; 
}
/* @media screen and (max-width:600px){
    .ed-grid-box{
        width:300px;
    }  
    .ed-subheading{
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .ed-subcnt{
        font-size: 12px;
        font-weight: 400;
        line-height: 1.4rem;
    
    }  
} */
/* @media screen and (max-width:600px){
    .ed-grid-box{
       width:500px;
    }
    .content{
                padding-left: 10px;
    }
    .ed-grid-container{
        padding: 50px;
    }

 } */
 @media screen and (max-width:800px)
 {
        .ed-grid-container{
            padding: 20px;

        }
        .ed-grid-box{
            width:600px;
            height: 95vh;
        }
        .ed-heading{
            margin-bottom: 10px;
        }
        .about-intro{
                font-size: 30px;
        }
        .about-para{
                font-size: 20px;
        }
        .name{
            font-size:20px ;
        }
        .navItems li a{
            font-size: 12px;
        }
        .navItems li{
            margin:10px 5px;
        }
        .about-content{
            left:10%;
            }
        .logoname img{
            margin-right:5px;
        }
        .ed-subheading{
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        .ed-subcnt{
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5rem;
        
        }  
}
/* ------------------------------3rd page--------------------------------- */
.cerfpage{
    background-color: black;
}
.cer-heading{
    color: #ffffff;
    text-align: center;
    font-size: 60px;
}
.cer-flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:100px;
}
.cer-grid-box{
    display: grid;
    /* flex-direction:row; */
    grid-template-columns: repeat(3,1fr);
    padding:50px;
    gap:1rem;   
}
.fi{
    border-radius: 20px;
    border:2px solid #00ffffd6;
    padding: 20px;
    color:#00fffb;
    /* width: 220px; */
    /* height: 50vh; */
    background-color: #2d2d2d44;
    box-shadow: 2px 2px 4px #00ffffd6;
    
}
.cer-subheading
{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    height: 60px;
    text-align: center;
}
.cer-cntnt{
    font-size: 24px;
    text-align: justify;

}
.fi:hover{
        transform: scale(1.05);
        background-color: #00fffb; 
        cursor: pointer;
        color: #000000;
}
/* --------------------------SKILLS PAGE---------------------- */
.s-grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:80vh;
}
.skill-heading{
    color: #ffffff;
    text-align: center;
    font-size: 60px;
}
.skills-grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
    color: #ffffff;
    width:80%;
}
.skill{
    font-size:30px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:20px;
}
.s-bar{
    margin-top:10px;
    width:100%;
    height:10px;
    background-color: #ffffff;
    border-radius: 20px;
}
.skillspage:target .html-bar{
    width:0px;
    height:10px;
    animation: fill-html 2s linear forwards;
    border-radius: 20px;
}
.skillspage:target .css-bar{
    width:0px;
    height:10px;
    animation: fill-css 2s linear forwards;
    border-radius: 20px;
}
.skillspage:target .js-bar{
    width:0px;
    height:10px;
    animation: fill-js 2s linear forwards;
    border-radius: 20px;
}
.skillspage:target .python-bar{
    width:0px;
    height:10px;
    animation: fill-python 2s linear forwards;
    border-radius: 20px;
}
.skillspage:target .java-bar{
    width:0px;
    height:10px;
    animation: fill-java 2s linear forwards;
    border-radius: 20px;
}
.skillspage:target .sql-bar{
    width:0px;
    height:10px;
    animation: fill-sql 2s linear forwards;
    border-radius: 20px;
}
@keyframes fill-html{
    0%{
        width:0%;
    }
    100%{
        width: 80%;
        background-color: #00fffb;
        /* box-shadow: 1px 1px 1px #00fffb ; */
    }
}
@keyframes fill-css{
    0%{
        width:0%;
    }
    100%{
        width: 70%;
        background-color: #00fffb;

    }
}
@keyframes fill-js{
    0%{
        width:0%;
    }
    100%{
        width: 80%;
        background-color: #00fffb;

    }
}
@keyframes fill-python{
    0%{
        width:0%;
    }
    100%{
        width: 40%;
        background-color: #00fffb;

    }
}
@keyframes fill-java{
    0%{
        width:0%;
    }
    100%{
        width: 40%;
        background-color: #00fffb;

    }
}
@keyframes fill-sql{
    0%{
        width:0%;
    }
    100%{
        width: 70%;
        background-color: #00fffb;

    }
}
